@import "compass/css3";
@import url("https://use.typekit.net/qyf3oio.css");

html {
    scroll-behavior: smooth;
}
html,
body {
    font-family: "halyard-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

img {
    object-fit: cover;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 9999;
}

header > ul {
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: #fff;
}

header > ul:nth-child(1) {
    justify-content: flex-start;
    padding-left: 2%;
}

.container.video {
    background: #000;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    align-items: center;
}

.container.video iframe {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 80%;
}

.section-content {
    background: #fff;
    transition: opacity 0.5s ease;
    height: 110vh;
}

.container {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

.container section {
    width: 100%;
    height: 80vh;
    display: flex;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: #000;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container section:nth-of-type(1) .image {
    background-image: url(section1.jpg);
}

.container section:nth-of-type(2) .image {
    background-image: url(section2.jpg);
}

.container section:nth-of-type(3) .image {
    background-image: url(section3.jpg);
}

/* 이미지가 위에서 아래로 스크롤되는 효과 */
.container section .image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
    transition: transform 0.1s ease-out;
    will-change: transform; /* 스크롤 성능 최적화 */
    z-index: 500;
}

.container section .stuff {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 80vh;
    width: 100%;
    max-width: 70%;
    justify-content: center;
    text-align: center;
    z-index: 1000;
    color: #fff;
    margin: 0 auto;
    font-size: 28px;
    position: relative;
}

.container section .stuff h2 {
    margin: 0px;
}

.container section .stuff button {
    display: inline-block;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
    background: none;
    border: 0;
    color: #fff;
    font-size: 27px;
}

@media screen and (max-width: 768px) {
    header > ul {
        flex-direction: column;
    }

    header > ul:nth-child(2) {
        margin-right: 2%;
    }

    header > ul:nth-child(2) > li {
        text-align: right;
    }

    .container section {
        height: 80vh;
        background-size: cover;
    }

    .container section .stuff {
        height: 40vh;
    }

    .container section .image {
        height: 60vh; /* 모바일 환경에서도 동일 높이 */
    }
}
