* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#para1 {
  background-image: url("http://i.imgur.com/CQStJUJ.jpg");
}

#para2 {
  background-image: url("http://i.imgur.com/LSHfLZJ.jpg");
}

#para3 {
  background-image: url("http://i.imgur.com/ap9HiBH.jpg");
}



.bb-para {
  height: 60vh;
  width: 100%;
  color: white;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bb-para h2 {
  font-weight: light;
}

.scroll-cta {
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: .5em;
  padding: 1em 4em;
}

.scroll-divider {
  height: 7vh;
  background-color: white;
}

.para-text {
  color: white;
  font-weight: bold;
  padding: 5em;
  box-sizing: border-box;
}

.para-text::first-child {
  background-color: black;
}

h2 {
  font-size: 3em;
  text-shadow: 0 0px 2px black, 0 0 20px rgba(0,0,0,.3);
}
